---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import social from '@config/social';

const socialItems = social.networks;
---

<section class="bg-zinc-50 dark:bg-zinc-900">
  <div class="mx-auto max-w-screen-lg px-4 py-0 pb-6 sm:px-6 sm:pb-12 lg:px-8">
    <div class="flex items-start justify-between">
      <div class="rounded-lg sm:w-full md:w-3/4">
        <h1 class="mb-0 text-lg font-bold text-zinc-900 dark:text-white sm:text-3xl md:text-2xl">
          {config.author.name}
        </h1>
        <p class="mt-1.5 text-sm text-zinc-500 dark:text-zinc-400 md:text-lg">
          {config.author.bio}
        </p>
        <!-- <div class="m-auto flex space-x-5 pt-8">
          {
            socialItems?.map((item) => (
              <a href={item.url} target="_blank" rel="noopener noreferrer">
                <figure>
                  <Fragment set:html={item.svg} />
                </figure>
              </a>
            ))
          }
        </div> -->
      </div>
      <!-- <div class="rounded-lg">
        <figure class="right-0">
          <Image
            class="w-24 rounded-lg md:w-32"
            width={512}
            height={512}
            src={config.author.avatar}
            alt={config.author.name}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div> -->
    </div>
    <div class="m-auto flex justify-center">
      <div class="mt-9 block flex items-center space-x-8 dark:hidden">
        <figure>
          <Image
            src="/sponsors/CoderLabsLight.png"
            alt="CoderLabs"
            class="w-60 rounded bg-zinc-950 bg-opacity-0"
            width={500}
            height={200}
            decoding="async"
            loading="lazy"
          />
        </figure>
        <figure>
          <Image
            src="/sponsors/SteamLight.png"
            alt="STEAM Academy"
            class="w-60 rounded bg-zinc-950 bg-opacity-0"
            width={500}
            height={200}
            decoding="async"
            loading="lazy"
          />
        </figure>
        <figure>
          <Image
            src="/sponsors/KiuraLight.png"
            alt="Kiura"
            class="w-44 rounded bg-zinc-950 bg-opacity-0"
            width={500}
            height={200}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
      <div class="mt-9 hidden dark:block">
        <div class="flex items-center space-x-8">
          <figure>
            <Image
              src="/sponsors/CoderLabsDark.png"
              alt="CoderLabs"
              class="w-60 rounded bg-zinc-950 bg-opacity-0"
              width={500}
              height={200}
              decoding="async"
              loading="lazy"
            />
          </figure>
          <figure>
            <Image
              src="/sponsors/SteamDark.png"
              alt="STEAM Academy"
              class="w-60 rounded bg-zinc-950 bg-opacity-0"
              width={500}
              height={200}
              decoding="async"
              loading="lazy"
            />
          </figure>
          <figure>
            <Image
              src="/sponsors/KiuraDark.png"
              alt="Kiura"
              class="w-44 rounded bg-zinc-950 bg-opacity-0"
              width={500}
              height={200}
              decoding="async"
              loading="lazy"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
